node_modules
coverage
libraries
ts/dist
.nyc_output/
.libraries.json
.DS_Store
go.sum
ts/test/figures/*.zip
csharp/**/bin/
csharp/**/obj/
csharp/**/.vs
.idea/
.vscode/
target/
*.iml
.settings/
.classpath
.project
coverage.html
coverage.out
python/**/__pycache__